.message-card {
	margin-top: 15px;
}

.user-info{
	font-weight: bold;
	font-size: 70%;
}

.message-content {
	margin-left: 1%;
}

.chat-text {
	width: 98%;
	height: 36px;
	padding-left: 1%;
}

.chat-button {
	width: 100%;
}

.chat-form {
	position: fixed;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	bottom: 0px;
}